In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [5]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

In [6]:
sec_data.tail()

                   PG     BEI.DE
Date
2018-11-19  93.290001  92.019997
2018-11-20  92.099998  92.720001
2018-11-21  91.410004  93.580002
2018-11-23  91.540001  93.459999
2018-11-26  91.940002  92.940002

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006207  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024572
2007-01-17  0.010304 -0.041784
2007-01-18  0.002750  0.011025
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005615 -0.000829
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000925  0.000208
2007-01-29  0.000309  0.013051
2007-01-30 -0.004480  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010617
2007-02-09 -0.002480  0.001777
2007-02-12 -0.004199 -0.000987
2007-02-13  0.008535  0.001382
2007-02-14  0.002624  0.012934
...              ...       ...
2018-10-15  0.013443  0.002897
2018-10-16  0.010922  0.010184
2018-10-17  0.010438  0.010735
2018-10-18 -0.011188  0.006516
2018-10-19  0.084328  0.012265
2018-10-22 -0.008051  0.002990
2018-10-23  0.006446 -0.004916
2018-10-24  0.026046  0.001713
2018-10-25 -0.005155  0.010638
2018-10-26 -0.012892 -0.016215
2018-10-29  0.004316 -0.001291
2018-10-30  0.010709 -0.022213
2018-10-31 -0.005735  0.006366
2018-11-01  0.010209  0.002841
2018-11-02  0.002453  0.001090
2018-11-05  0.015359 -0.001745
2018-11-06  0.003393  0.000655
2018-11-07 -0.002407 -0.015170
2018-11-08  0.000766  0.004421
2018-11-09  0.011427  0.012058
2018-11-12  0.003133 -0.005901
2018-11-13  0.008272  0.010684
2018-11-14  0.000214 -0.003694
2018-11-15  0.003630 -0.003052
2018-11-16 -0.000107  0.017746
2018-11-19 -0.005665 -0.013171
2018-11-20 -0.012838  0.007578
2018-11-21 -0.007520  0.009232
2018-11-23  0.001421 -0.001283
2018-11-26  0.004360 -0.005579

[2997 rows x 2 columns]

For Procter & Gamble

In [16]:
sec_returns['PG'].mean()

0.00023905424122800588

In [17]:
sec_returns['PG'].mean() * 250

0.059763560307001466

In [18]:
sec_returns['PG'].std()

0.010942392397624037

In [19]:
sec_returns['PG'].std() * 250 ** 0.5

0.173014415139014

FOR BEIERSDORF

In [24]:
sec_returns['BEI.DE'].mean()

0.00026147566386899195

In [25]:
sec_returns['BEI.DE'].mean() * 250

0.06536891596724799

In [26]:
sec_returns['BEI.DE'].std()

0.013716990897643099

In [27]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.2168846694017489

In [28]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.059764
BEI.DE    0.065369
dtype: float64

In [29]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.173014
BEI.DE    0.216885
dtype: float64