In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))
PG_var = sec_returns['PG'].var()
PG_var

0.0001197359513835803

In [5]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00018815583928602362

In [7]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.029933987845895075

In [8]:
BEI_var_a = sec_returns['BEI.DE'].var()
BEI_var_a

0.00018815583928602362

In [9]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000120  0.000039
BEI.DE  0.000039  0.000188

In [11]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.029934  0.009704
BEI.DE  0.009704  0.047039

In [12]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.257584
BEI.DE  0.257584  1.000000